CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
Testing
Makefile
cmake_install.cmake
install_manifest.txt
build
*.class
*.jar
*.xcodeml
*.xcodeml.claw
*.xmod
*.mod
.project
transformed_code.f90
original_code_*
transformed_code_*
clawfc
clawfc_test
claw_f.conf
claw_f.conf_test
claw_f_lib.sh
__omni_tmp__
__xmod__
.idea
out
*.iml
omni-compiler-prefix
*.tokens
