<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fortran_file_build_info src_path="{res_dir}/depscan/input_with_include/input/1.f90" pp_src_path="{out_dir}/{hash}_1.pp.f90">
    <module uses_claw="true">
        <info start_line_idx="1" end_line_idx="4" name="mod11" start_char_idx="1" end_char_idx="37"/>
        <used_modules/>
    </module>
    <module uses_claw="false">
        <info start_line_idx="5" end_line_idx="7" name="mod12" start_char_idx="39" end_char_idx="68"/>
        <used_modules/>
    </module>
    <module uses_claw="false">
        <info start_line_idx="8" end_line_idx="11" name="mod13" start_char_idx="70" end_char_idx="113"/>
        <used_modules>
            <use start_line_idx="9" end_line_idx="10" name="mod12" start_char_idx="87" end_char_idx="96"/>
        </used_modules>
    </module>
    <program uses_claw="false">
        <info start_line_idx="12" end_line_idx="16" name="p1" start_char_idx="115" end_char_idx="168"/>
        <used_modules>
            <use start_line_idx="13" end_line_idx="14" name="mod12" start_char_idx="130" end_char_idx="139"/>
            <use start_line_idx="14" end_line_idx="15" name="mod13" start_char_idx="144" end_char_idx="153"/>
        </used_modules>
    </program>
    <include>{res_dir}/depscan/input_with_include/input/1.inc</include>
    <include>{res_dir}/depscan/input_with_include/input/2.inc</include>
</fortran_file_build_info>