<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fortran_file_build_info src_path="{res_dir}/depscan/output/input/1.f90" pp_src_path="{res_dir}/depscan/output/input/1.f90">
    <module uses_claw="true">
        <info start_line_idx="0" end_line_idx="3" name="mod11" start_char_idx="0" end_char_idx="36"/>
        <used_modules/>
    </module>
    <module uses_claw="false">
        <info start_line_idx="4" end_line_idx="6" name="mod12" start_char_idx="38" end_char_idx="67"/>
        <used_modules/>
    </module>
    <module uses_claw="false">
        <info start_line_idx="7" end_line_idx="10" name="mod13" start_char_idx="69" end_char_idx="112"/>
        <used_modules>
            <use start_line_idx="8" end_line_idx="9" name="mod12" start_char_idx="86" end_char_idx="95"/>
        </used_modules>
    </module>
    <program uses_claw="false">
        <info start_line_idx="11" end_line_idx="15" name="p1" start_char_idx="114" end_char_idx="167"/>
        <used_modules>
            <use start_line_idx="12" end_line_idx="13" name="mod12" start_char_idx="129" end_char_idx="138"/>
            <use start_line_idx="13" end_line_idx="14" name="mod13" start_char_idx="143" end_char_idx="152"/>
        </used_modules>
    </program>
</fortran_file_build_info>
