<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fortran_file_build_info src_path="{res_dir}/depscan/include_dir/input/inc/2.f90" pp_src_path="{res_dir}/depscan/include_dir/input/inc/2.f90">
    <module uses_claw="true">
        <info start_line_idx="0" end_line_idx="4" name="mod21" start_char_idx="0" end_char_idx="50"/>
        <used_modules>
            <use start_line_idx="1" end_line_idx="2" name="mod13" start_char_idx="17" end_char_idx="26"/>
        </used_modules>
    </module>
    <module uses_claw="false">
        <info start_line_idx="5" end_line_idx="7" name="mod22" start_char_idx="52" end_char_idx="81"/>
        <used_modules/>
    </module>
    <module uses_claw="false">
        <info start_line_idx="8" end_line_idx="11" name="mod23" start_char_idx="83" end_char_idx="126"/>
        <used_modules>
            <use start_line_idx="9" end_line_idx="10" name="mod22" start_char_idx="100" end_char_idx="109"/>
        </used_modules>
    </module>
    <program uses_claw="false">
        <info start_line_idx="12" end_line_idx="16" name="p2" start_char_idx="128" end_char_idx="181"/>
        <used_modules>
            <use start_line_idx="13" end_line_idx="14" name="mod22" start_char_idx="143" end_char_idx="152"/>
            <use start_line_idx="14" end_line_idx="15" name="mod23" start_char_idx="157" end_char_idx="166"/>
        </used_modules>
    </program>
</fortran_file_build_info>
