<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<fortran_file_build_info src_path="{res_dir}/depscan/include_dir/input/blank.f90" pp_src_path="{res_dir}/depscan/include_dir/input/blank.f90"/>
